body {
  background: blanchedalmond;
  
  
}
.container, main{
  border: 2px solid green;
  
  display: flex;
  justify-content:space-around;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  width: 90vw;
  padding: 7px 7px 7px 7px;

}


.header{
  border: 1px solid green;
  width: 90vw;
  height: 30vh;
  flex-grow: 1;

}
main{
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  
}

.row-one{
  border: 1px solid green;
  flex-grow: 2;
  height: 30vh;
  
  

}
.row-two{
  border: 1px solid green;
  flex-grow: 1;
  height: 30vh;
  
  

}

@media(min-width:600px){
  main{
    flex-direction: column;
    flex-wrap: wrap;
    min-width:60vw;
    min-height: 40vh;
  }

  .header{
    width:90vw;
    
  }



}