body {
  background: papayawhip;
}

.container{
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  margin: auto;
  padding: 7px 7px 7px 7px;
  
}

.a{
  border: 1px solid green;
  flex-grow: 1;
  padding-bottom: 7px;
}
.b{
  padding-top: 7px;
  border: 1px solid green;
  flex-grow: 1;
}
main{
  display: flex;
  flex-grow: 1;
  padding-top: 7px;
  padding-bottom: 7px;
  
  
  
}
.c{
  border: 1px solid green;
  flex-grow: 1;
  
}
.d{
  border: 1px solid green;
  flex-grow: 1;
  
}
.e{
  border: 1px solid green;
  flex-grow: 1;
}
.aside{
  border: 1px solid green;
  display: flex;
  flex-grow: 1;

}
